<div class="container mt-5">
  <div class="row justify-content-right">
    <div class="col-6">

      <h1><strong>Mon profil</strong></h1>
      <br>
      <br>
      <p><strong>Prénom: </strong> <%= @user.first_name %></p>
      <p><strong>Nom: </strong><%= @user.last_name %></p>
      <p><strong>Email: </strong><%= @user.email %></p>
      <br>
      <br>
      <p><strong>Mes réservations: </strong></p>
    </div>
  </div>
</div>
