<% @raclette_machines.each do |raclette_machine| %>
  <div class="card-resa">

        <div class="card-product-infos">
          <p> 🧀 <strong><%= raclette_machine.name %></strong> </p>
          <br>


        </div>

      </div>
   <% end %>

</div>
      <%= link_to "Retourner à la liste des appareils", raclette_machines_path, class: "btn btn-outline-warning m-4" %>

