// Import page-specific CSS files here.
@import "home";
@import "components/card_product_index";

h1 {
  text-align: center;
}

h2 {
  text-transform: uppercase;

}


a:hover {
  text-decoration: none;
}

.card-trip-pricing a:hover {
  text-decoration: none;
}
