// Import page-specific CSS files here.
@import "home";
@import "components/card_product_index";
@import "profile";

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  text-transform: uppercase;

}


a:hover {
  text-decoration: none;
  color: black;
}

.card-trip-pricing a:hover {
  text-decoration: none;
}
