.card-resa {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 50px;

  width: 700px;
  height: 300px;

.card-resa .card-resa-infos {
  padding: 16px;
  margin-left: 20px;
}

  p {
    font-size: 19px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }


  width: 500px;

}
