<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.chamonixholidays.com/fr/location/fotos/2/1519639905ef61150ed0244fc695277a54890b9e75/1519639909edfc008eaf0b4ad8572d498479a915eb.jpg);">
  <div class="container">
    <div class="title">
      <h1> Bienvenue sur Cheezze !</h1>
      </div>
    <br>
    <br>
    <br>
    <p class = "font-weight-light">La 1ère app qui te permet de réserver un appareil à raclette en 5 minutes !</p>
  <div class="col-lg ">
    <p><%= link_to 'Je veux voir les appareils', raclette_machines_path, class: 'btn btn-primary font-weight-bold t-80 m-5' %></p>
</div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="banner_img">
      <img src="https://media.istockphoto.com/photos/raclette-cheese-and-meats-picture-id637214538?k=6&m=637214538&s=612x612&w=0&h=QbQt68eG9wdikTZmuxDKGDIcGnM3Z1gkIYWTjLKrd3I=" height="352" width="500" >
    </div>
  <div class="banner_infos">
    <h4>Louer pour 1 heure ou plusieurs jours</h4>
    <h6>Profiter de bons moments en famille ou entre amis</h6>
    <h6>De particulier à particulier</h6>
    <h6>Des appareils à raclette en bas de chez vous</h6>
  </div>
</div>
  <div class="d-flex justify-content-between">
  <div class="banner_infos">
    <h4>Rentabiliser votre appareil à raclette</h4>
    <h6>Permet de se faire quelques bénéfices</h6>
    <h6>Faites des heureux</h6>
    <h6>Ne laissez pas votre appareil dans le placard</h6>
     <div class="button col-sm">
    <p><%= link_to 'Je veux louer mon appareil', raclette_machines_path, class: 'btn btn-primary font-weight-bold m-4' %></p>
  </div>
  </div>
  <div class="banner_img">
    <img src="https://www.cheatsheet.com/wp-content/uploads/2016/02/Group-Of-Friends-Enjoying-Evening-Meal-In-Restaurant.jpg" height="352" width="500" >
  </div>
</div>






<!-- <div class="banner_defil_right">
  <div class="banner_img">
    <img src="https://www.covigneron.com/wp-content/uploads/2017/11/Raclette_du_Valais_AOC_3-compressor.jpg" height="352" width="470" >
  </div>
  <h3>LOUER</h3>
  <div class="banner_infos">
    <h4>Louer pour 1 heure ou plusieurs jours</h4>
    <h4>De particulier à particulier</h4>
    <h4>Des appareils à raclette en bas de chez vous</h4>
  </div>

</div>

<div class="banner_defil_left">
  <h3>LOUER</h3>
  <div class="banner_infos">
    <h4>Rentabiliser votre appareil à raclette</h4>
    <h4>Faites des rencontres</h4>
  </div>



