<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582883044880-974679bc1f0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container">
    <div class="title">
      <h1> Bienvenue sur Cheezze !</h1>
      </div>
    <br>
    <br>
    <br>
    <p>La 1ère app qui te permet de réserver un appareil à raclette en 5 minutes !</p>

  <div class="button">
    <p><%= link_to 'Je veux voir les appareils', raclette_machines_path, class: 'btn btn-primary' %></p>
  </div>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Je ne veux pas voir les appareils</a>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
Vous savez, moi je ne crois pas qu'il y ait de bonne ou de mauvaise situation.      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
      </div>
    </div>
  </div>
</div>
  </div>
</div>
