.banner {
  background-size: cover;
  padding: 100px 0;
  object-fit: cover;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

.banner_defil_right {
  border-style: none;
}


.banner_defil_right h4 {
  padding: 30px;
  text-align: right;
  line-height: 28px;
}
.banner_img {
  float:right;
  padding: 50px;
  border-radius: 30;
}


.banner_defil_left h4 {
  padding: 30px;
  text-align: left;
  line-height: 28px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner_infos {
  padding: 30px;
  margin: 30px;
  margin-top: 113px;
}

.banner_infos h6 {
  font-weight: light;
  color: #757575;
}
