
.card-product {
  overflow: hidden;
  background: #FFC874;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 430px;
}


.card-product > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 20px;
  margin: 0px;
  color: black;
  position: relative;

}

.infos {
justify-content: left;

  p {
    text-align: justify;
  }
 }


.card-product .card-product-infos {
  padding: 16px;
}

.form{
  padding-top: 130px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 390px;
  overflow: hidden;
  background: white;
  position: justify-content
}

.text-uppercase {
  margin: 300px;
}

.price p {
  text-align: right;
}

p {
  font-family: 'Nunito';
  color: black;
}

h4 {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

a {
  color: black;
}
