
// .showmaincard {
//   height: 300px;
//   margin-top: 20px;
//   padding: 40px;
// }


.card-product {
  overflow: hidden;
  background: #FFC874;
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 500px;
}


.card-product > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 15px;
  margin: 0px;
  color: black;
  position: relative;

}

.card-product-pricing {
  // border: solid 1px;
  // border-radius: 5px;
  // border-color: $yellow;

}

.infos {
  justify-content: left;
  p {
    text-align: justify;
  }
}


.card-product .card-product-infos {
  padding: 16px;
}

.form{
  padding: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 500px;
  overflow: hidden;
  background: white;
}

.text-uppercase {
  margin: 300px;
}

.price {
  text-align: right;
  border-color: $yellow;
}

p {
  font-family: 'Nunito';
  color: black;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

a {
  color: black;
}
