.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item {
  display: flex;
  align-items: flex-end;
}

.title h1 {
  font-size: 70px;
}

p {
  text-align: center;
}
