
.card-trip-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  width: 400px;
  height: 320px;
}

.image {
  margin-top: 15px;
  object-fit: cover;
}

.card-infos {
  padding-right: 10px;
  padding-top: .5px;
  padding-left: 10px;

}

.card-name h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-name {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding-top: 10px;
}

.card-capacity p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.card-price {
padding-right: 5px;
}

.card-price p {
  font-size: 14px;
  width: 70px;
  border: solid 1px;
  border-radius: 5px;
}

.card-avatar .card-trip-user {
  position: relative;
  // right: 16px;
  top: -20px;
  width: 40px;
}

// .card-name-avatar {
//  vertical-align: middle;
// }



