
.card-trip-index {
  overflow: hidden;
  background: #FFC874;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 50px;
  width: 300px;
  border-radius: 5px;

}


.card-trip-index > img {
  height: 100px;
  width: 50%;
  border-radius: 5px;
  object-fit: cover;
}

.card-trip-index h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  color: black;
}


.card-trip-index p {
  font-size: 14px;
  margin: 0;
  color: white;
}


.card-trip-index .card-trip-infos-index {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

h1 {

  padding-top: 15px;
}



